{% extends "layout.html" %}
{% block content %}

<section class="container entity-cards">
{% for class_name, count in entities.items() %}
<div id="{{ class_name | lower }}s-card" class="entity-card entity-card--{{ class_name | lower }}s">
    <div class="entity-card__icon">
        <img src="/static/images/entity_icons/{{ class_name | lower }}s_550.png" alt="{{ class_name }}">
    </div>
    <div class="entity-card__label">{{ class_name }}s</div>
    <div class="entity-card__description">Lorem ipsum dolor sit amet consectetur. Risus malesuada feugiat sit integer non.
        Nisl blandit at scelerisque id arcu nisi nisl lacus.
    </div>
    <div class="entity-card__count">{{ count }} entities</div>
</div>
{% endfor %}

</section>
{% endblock %}
