.navbar-brand {
    width: 260px;
    height: 30px;
    background-image: url('../images/logos/logo_260x30.png');
    background-size: cover;
}

@media (max-width: 991px) {
    .navbar-brand {
        width: 30px;
        height: 30px;
        background-image: url('../images/logos/logo_30x30.png');
        background-size: cover;
    }
}