@use '../globals'as *;

.cards_home {
  z-index: auto;
  display: none; // Initially hide the cards_home section
}

#counters:hover ~ .cards_home,
.cards_home:hover {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  width: 100%;
  gap: rem(0.5);
  align-items: center;
  align-self: auto;
  position: absolute;
  bottom: +227px;
  // Adjust grid template columns for large screens

  }



