#content-columns .column {
  height: calc(100vh - var(--navbar-height) - 95px);
  color: black;
}

.column-label {
  font-size: 1.3em;
  font-weight: bold;
  position: relative;
  top: 2rem;
}

#col1 {
  background-color: #F5F5F5;
  position: relative;
}

.main-image {
  margin-top: 2rem;
  width: 90%;
}

.main-image img {
  width: 100%;
  height: auto;
  display: block;
}


#col2 {
  background-color: #F5F5F5;
  p{
    margin-top: 2rem;
  }
}

#col3 {
  background-color: #F5F5F5;
}

.bottom-bar {
  background-color: var(--counters-bg);
  min-height: 95px;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#entity_media {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 50px;
}

//Sidebar
.sidebar {
  background-color: var(--card-bg);
  height: calc(100vh - var(--navbar-height) );
  color: black;
  text-align: center;
}

.sidebar-content {
  margin-top: 2rem;
}
.entity-country{
  margin-top: 1rem;
}

 .entity-type,
  .entity-date {
    font-size: 1.2rem;
  }

  .entity-type {
    margin-top: 3rem;
  }

.btn-group-vertical .btn {
            margin-top: 3rem;
            margin-bottom: 1rem;
        }
        .btn-group-vertical .btn:last-child {
            margin-bottom: 0;}