@use '../globals'as *;

/* Sidebar toggle in Navbar */

#toggleSidebar {
  color: black;
  background: none;
  border: none;
  padding-left: 1rem;
}

#toggleSidebar i {
  font-size: 1.5rem;
}


/* Sidebar*/
#nav-sidebar {
  width: 70px;
  transition: width 0.3s;
  background-color: var(--bs-navbar-color);
}

#nav-sidebar.expanded {
  width: 150px;
  height: 100vh;
}

#nav-sidebar .nav-link span {
  display: none;
  opacity: 0;
  transition: opacity 0.3s;
}

#nav-sidebar.expanded .nav-link span {
  display: inline;
  opacity: 1;
}


#nav-sidebar .btn {
  width: 100%;
}

#nav-sidebar .nav-link {
  justify-content: center;
}

#nav-sidebar.expanded .nav-link {
  justify-content: flex-start;
}

@media (max-width: 765px) {
  #nav-sidebar {
    position: fixed;
    top: var(--navbar-height);
    left: 0;
    width: 0;
    height: 100vh;
    z-index: 300000;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  /* Sidebar shown when expanded */
  #nav-sidebar.expanded {
    width: 150px;
    transform: translateX(0);
  }
}


