


{#<div class="d-flex flex-nowrap justify-content-around py-2 border-bottom gap-2" id="badge-bar">
  {% for subunit in counts[active_tab] %}
    {% for subunit_name, subunit_count in subunit.items() %}
      <button type="button"
              class="btn btn-outline-secondary d-flex align-items-center gap-2 px-3 py-1"
              data-subunit="{{ subunit_name }}">
        <img src="{{ url_for('static', filename='images/entity_icons/' + subunit_name + '.png') }}"
             alt="{{ subunit_name }}"
             style="width: 40px; height: 40px;">
        <span class="text-capitalize">{{ subunit_name.replace('_', ' ') }}</span>
        <span class="badge bg-secondary-subtle">{{ subunit_count }}</span>
      </button>
    {% endfor %}
  {% endfor %}
</div>#}


<div id="example-table-{{ tab_name }}"></div>

<script>
    const filteredEntities{{ tab_name }} = getEntitiesForTab('{{ tab_name }}');
    console.log('tab_name');
    console.log('{{ tab_name }}');
    console.log(filteredEntities{{ tab_name }});

    const table{{ tab_name }} = new Tabulator("#example-table-{{ tab_name }}", {
        layout: "fitColumns",
        height: "calc( 100vh -  100px)",
        data: filteredEntities{{ tab_name }},
        pagination: "local",
        paginationSize: 20,
        paginationSizeSelector: [20, 50, 100],
        columns: [
            {title: "ID", field: "id", width: 0},
            {title: "Name", field: "name"},
            {title: "Description", field: "description"},
            {title: "Class", field: "class"},
            {title: "Link",
                formatter: function (cell, formatterParams, onRendered) {
                    const id = cell.getRow().getData().id;
                    return `<a href="/entity/${id}">View</a>`;
                },
                hozAlign: "center",
                headerSort: false
            }
        ]
    });
</script>

