

{% macro loop_entity(entity) %}
  <li class="list-group-item">
    <div class="d-flex align-items-start justify-content-between">
      <div class="d-flex">
        {% if entity.depictions and entity.depictions[0].iiif_base_path %}
          <img
            src="{{ entity.depictions[0].iiif_base_path }}/full/!200,200/0/default.jpg"
            alt="Thumbnail"
            class="me-3 rounded"
            style="width: 100px; height: auto; object-fit: contain;">
        {% endif %}
        <div>
          <strong>{{ entity.name }}</strong><br>
          <small>{{ entity.description }}</small>
          <ul class="mt-2">
            {% for t in entity.types %}
              <li>{{ t.label }}{% if t.value %}: {{ t.value }}
                {{ t.unit }}{% endif %}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      {% if entity.children %}
        <button class="btn btn-link p-0 ms-3 toggle-arrow" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse-{{ entity.id }}"
                aria-expanded="false"
                aria-controls="collapse-{{ entity.id }}">
          <i class="bi bi-chevron-right rotate-icon"></i>
        </button>
      {% endif %}
    </div>

    {% if entity.children %}
      <div class="collapse mt-2" id="collapse-{{ entity.id }}">
        <ul class="list-group mt-2">
          {% for child in entity.children %}
            {{ loop_entity(child) }}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </li>
{% endmacro %}

<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-2 position-sticky" style="top: 0; max-height: 100vh; overflow-y: auto;" id="sidebar">
      <ul class="list-group" id="entity-index">
        {% for entity in entity_tree %}
          <li class="list-group-item">
            <a href="#entity-{{ entity.id }}" class="index-link d-block text-decoration-none">
              {{ entity.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <!-- Main content -->
    <div class="col-10">
      <ul class="list-group">
        {% for entity in entity_tree %}
          <li id="entity-{{ entity.id }}">
            {{ loop_entity(entity) }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

